/* Enlaces */
a {
  color: #ffff00; /* Amarillo para enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Subrayar enlaces al pasar el ratón */
}

/* Botones */
.button {
  background-color: #ffff00; /* Amarillo */
  color: #000000; /* Letras negras */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffcc00; /* Amarillo más claro al pasar el ratón */
}


/* Estilos generales */
body {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Letras blancas */
  font-family: Arial, sans-serif;
}

/* Estilos para el elemento nav */
nav {
  background-color: #000000; /* Fondo negro para el nav */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los enlaces del nav */
nav a {
  color: #000000; /* Amarillo para enlaces */
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline; /* Subrayar enlaces al pasar el ratón */
}

/* Estilos generales */
body {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Letras blancas */
  font-family: Arial, sans-serif;
}

/* Estilos para el formulario */
form {
  background-color: #000000; /* Fondo negro para el formulario */
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para etiquetas */
form label {
  display: block;
  margin-bottom: 10px;
}

/* Estilos para campos de entrada */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffff00; /* Amarillo para el borde del campo */
  background-color: #000000; /* Fondo negro para el campo */
  color: #ffffff; /* Letras blancas */
}

/* Estilos para botones */
form button {
  background-color: #ffff00; /* Amarillo */
  color: #000000; /* Letras negras */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #ffcc00; /* Amarillo más claro al pasar el ratón */
}

/* Estilos para la sección de bienvenida */
#bienvenida {
  padding: 50px 0;
  background-color: #000000; /* Fondo negro */
  color: #ffff00; /* Letras amarillas */
}

#bienvenida h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#bienvenida p {
  font-size: 16px;
  margin-bottom: 30px;
}

#bienvenida .btn {
  background-color: #ffff00; /* Amarillo */
  color: #000000; /* Letras negras */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

html {
  font-size: 16px; /* Tamaño de fuente base */
}

/* Estilos generales para el contenido */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para hacer que todo el contenido ocupe el 100% de la altura y el ancho de la pantalla */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* Estilos para hacer que el contenido sea responsive y se adapte al tamaño de la pantalla */
/* Por ejemplo, se puede usar un 90% del ancho de la pantalla */
.container {
  width: 90vw;
  margin: 0 auto;
}

/* Estilos para la sección del menú */
#menu {
  padding: 40px 0;
}

#menu h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para la sección del menú */
#menu {
  padding: 40px 0;
}

#menu h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para las tarjetas */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 25%; /* Ajustamos el ancho al 25% */
  margin: 10px; /* Añadimos un margen entre las tarjetas */
}

.card .card-image {
  flex: 1;
  position: relative;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffff00;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.card .card-content {
  flex: 1;
  padding: 10px;
}

.card .card-content p {
  margin: 0;
}

.card .card-action {
  padding: 10px;
  background-color: 000000;
  text-align: center;
}

.card .card-action a {
  color: #000000;
  text-decoration: none;
}

.card .card-action a:hover {
  text-decoration: underline;
}

#redes-sociales .row {
  display: flex;
  justify-content: center;
}

#redes-sociales .col.s4 {
  display: flex;
  justify-content: center;
}

#redes-sociales .red-social-img {
  width: 120px; /* Puedes ajustar el tamaño deseado */
  height: auto;
}
form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type='checkbox'] {
  margin-right: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: #ff0000;
  font-size: 14px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

td {
  border: 1px solid #000000; /* Línea de color #FFFF00 alrededor de cada celda */
  padding: 8px;
  text-align: center;
  color: #FFFF00; /* Color de las letras en #FFFF00 */
}

th {
  background-color: #FFFF00; /* Fondo de las celdas de encabezado en #FFFF00 */
  border: 1px solid #FFFF00; /* Línea de color #FFFF00 alrededor de cada celda */
  padding: 8px;
  text-align: center;
  color: #000000; 
}

/* Estilos para los botones */
a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #FFFF00; /* Fondo del botón en #FFFF00 */
  color: #000; /* Color de las letras del botón en negro */
  text-decoration: none;
  border: 1px solid #FFFF00; /* Borde del botón en #FFFF00 */
  border-radius: 4px;
  margin-right: 5px; /* Separación entre los botones */
}

a:hover {
  background-color: #FFFF00; /* Cambia el fondo del botón a negro al pasar el mouse sobre él */
  color: #000000; /* Cambia el color de las letras a #FFFF00 al pasar el mouse sobre el botón */
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #000; /* Fondo de las filas impares en negro */
}
